body {
	margin: 0;
	color: #000;
	background: #fff;
	font: 14px/24px Times New Roman/*Georgia*/, serif;
}

/*a {
	color: #000;
	text-decoration: none;
}*/

.logo {
	background: red;
	width: 120px;
	margin: 100px auto 20px;

}

.wrapper {
	width: 1063px;
	margin: 0 auto;
}

.nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.nav__list li {
	display: inline-block;
	padding: 0  20px;
}

.nav__list a {
	color: #626262;
	text-decoration: none;
}

.nav__list a:hover {
	color: red;

}

.nav__list a:active {
	color: green;
}

.list1 a:link {
	color: red;
}

.bold {
	font-weight: bold;
}

.cite {
	text-align: center;
}